@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

.menuPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.menu {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  border: solid 1px black;
  background-color: antiquewhite;
}

.drinksHeader {
  font-family: 'Changa One', cursive;
  font-size: 4rem;

  color: transparent;
  text-shadow: 0 0 5px rgba(250, 235, 215, 1);
  -webkit-text-stroke: 0.1px antiquewhite;
  /* text-shadow: -0.1925rem -0.1925rem 0 #cf7968; */
}

@media (max-width: 800px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border: solid 1px black;
    background-color: antiquewhite;
  }
}
.menuHeader {
  vertical-align: top;
}
