@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

.cocktailMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cocktailWrapper {
  display: flex;
  width: 30rem;
  /* border: solid 1px black; */
  min-width: 600px;
  max-width: 800px;
}

.cocktailIcon {
  height: 4rem;
  width: 4rem;
  padding-top: 5px;
}

.cocktailInfo {
  margin-left: 20px;
  width: 100%;
  font-family: 'Changa One', cursive;
  font-size: 1.3rem;
  padding-top: 20px;
}

ul {
  list-style: none;
}

@media (max-width: 800px) {
  .cocktailInfo {
    margin-left: 20px;
    width: 16rem;
    font-family: 'Changa One', cursive;
    font-size: 1.1rem;
    padding-top: 20px;
  }
}
